# Dependencies
node_modules/
jspm_packages/
web_modules/

# Production builds
dist/
build/
out/

# Environment variables / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# OS metadata
.DS_Store
Thumbs.db
__MACOSX/

# IDE/Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
